.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
tsconfig.json
esbuild.js
tailwind.config.js
vsc-extension-quickstart.md
**/*.map
.editorconfig
vss-extension.json
webpack.config.js
esbuild.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
